## R project
.Rproj.user
.Rhistory
.RData
.Ruserdata

## Large files and directory
timevis/
data/

## Import ant Export files
img/
data/
py-r/
_bookdown_files/
py-r_files
nul
py-r.knit.md
py-r.Rmd
py-r.log
py-r.tex
